.app--stories {
    display: block;
    list-style: none;
    margin: 100px auto 0 auto;
    min-width: 800px;
    width: 75%;
    
    .app--stories-element {
        position: relative;
        display: block;
        height: 200px;
        margin: 50px auto;
        padding: 15px 0 50px 250px;
        width: 100%;
        
        .app--stories-element-thumbnail {
            position: absolute; top: 0; left: 0;
            display: block;
            border-radius: 50%;
            box-shadow: 0 0 10px grey;
            height: 200px;
            overflow: hidden;
            width: 200px;
            
            img {
                height: 200px;
            }
        }
        
        .app--stories-element-btn {
            position: absolute; top: 0; left: 0;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border: none;
            border-radius: 50%;
            height: 200px;
            width: 200px;
            z-index: 500;
            
            input {
                position: absolute; top: 0; left: 0;
                background-color: rgba($mediumGrey, .45);
                border: none;
                border-radius: 50%;
                color: white;
                font-size: 25px;
                font-weight: 600;
                height: 200px;
                line-height: 200px;
                text-align: center;
                text-shadow: 0 0 .5em black;
                width: 200px;
            }
        } 
        
        .app--stories-element-title {
            color: $red;
            font-size: 30px;
            font-weight: 600;
            line-height: 1.5em;
            text-decoration: none;
        }
        
        .app--stories-element-content {
            color: $darkGrey;
            font-size: 18px;
            line-height: 1.5em;
            text-decoration: none;
        }
        
        .app--stories-element-univers {
            color: $earth;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5em;
            text-decoration: none;
            
            &::before {
                content: '#';
            }
        }
        
        .app--stories-element-price {
            color: $earth;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5em;
            text-decoration: none;
        }
    }
}

.app--book-title {
    position: absolute; top: 10px; left: 30px;
    color: $red;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 45px;
}

.app--phrase {
    display: table;
    height: 100vh;
    width: 100vw;
    
    p {
        display: table-cell;
        color: $mauve;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.5em;
        text-align: center;
        vertical-align: middle;
    }
}

.app--record {
    position: absolute; bottom: 20px; left: calc(50% - 40px);
    background-color: $red;
    border-radius: 50%;
    height: 80px;
    -webkit-transition: all .2s;
    width: 80px;
    
    &.on {
        background-color: $vert;
    }
    
    svg {
        display: block;
        box-sizing: border-box;
        padding: 15px;
        height: 80px;
        width: 80px;
        
        path { fill: white; }
    }
}

.app--next {
    position: absolute; bottom: 20px; right: 20px;
    background-color: $vert;
    border-radius: 50%;
    height: 80px;
    -webkit-transition: all .2s;
    width: 80px;
    
    svg {
        display: block;
        box-sizing: border-box;
        padding: 15px;
        height: 80px;
        width: 80px;
        
        path { fill: white; }
    }
}

.app--result {
    position: absolute; bottom: 120px; left: 0;
    color: $red;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
    width: 100vw;
    
    &::before {
        display: block;
        content: 'Son analysé :';
    }
    
    span {
        color: $mauve;
    }
}

.chart-container {
    position: absolute; top: calc(50% - 300px); left: calc(50% - 400px);
    height: 600px;
    width: 800px;
    
    chart-legend { display: none; }
}